
body {
    background-color: lightgreen;
}

#background {
    width: 100%
}

.blue {
    background-color: lightblue;
}

.margin {
    margin-top: 20px;
}

.orange {
    background-color: orange;
}

.white {
    background-color: white;
}

.dark {
    background-color: #45A29E;
}

.padding {
    padding: 20px;
}

.textcenter {
    text-align: center;
    margin: 0 auto 0 auto;
}

.border {
    border-style: double;
    border-width: 40px;
}

.size {
    width: 70%;
}

.timeline_container {
    background-color: lightblue;
    border-radius: 15px;
    width: 45%;
    padding: 20px;
    margin: 20px 0 0 0;
}

.timeline {
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
}

.timeline::after {
    position: absolute;
    background-color: white;
    width: 10px;
    top: 0;
    bottom: 0;
    left: 50%;
    content: '';
    height: 100%;
}

.left1 {
    left: 54%;
}

.left2 {
    left: 2%;
}

@media (max-width: 800px) {
    .timeline::after {
        left: 20px;
    }

    .timeline_container {
        left: 40px;
        width: 90%;
    }
}

/* @media (max-width: 1100px) {
    .timeline_container {
        width: 37%;
        right: -100px;
    }
} */

.carouselstyle {
    width: 70%;
    margin: 20px auto 0 auto;
    background-color: lightblue;
}

.imgsize {
    width: 50%;
}

.buttonreadmore {
    width: 50%;
    margin: auto auto;
    background-color: orange;
}

